/* @font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf);
} */


@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
}

* {
    font-family: Roboto;
}


/* html{
    margin: 0;
    padding: 0;
} */


.main-container,
.main-container * {
    /* border-style: dotted; */

    /* gap: 50px; */
}

.main-container {
    margin: 0;
    padding: 0;
    border: 0;
    /* border-color: red; */


    display: grid;


    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";


}

.sidebar {

    grid-area: sidebar;
    color: white;
    background-color: rgb(69, 144, 206);

    display: grid;

    padding: 1rem 3rem 1rem 1rem;

}

.title {
    margin-bottom: 3rem;
}

.title a {
    color: white;

    font-size: 2.4rem;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;


}

.title img {
    width: 3rem;


    border: 0;
}



.sidebar>a {
    /* margin-bottom: 2rem; */

    color: white;
    text-decoration: none;

    display: flex;
    align-items: center;
    /* gap: 1rem; */

    font-size: 1.2rem;
    font-weight: bold;


}

.sidebar>a>img {
    width: 2rem;


}




.nav {
    grid-area: header;


    padding: 2rem 3rem 2rem 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav button {

    margin: 0;
    padding: 0;
    border: 0;
}




.nav input {
    width: 35rem;
    height: 2rem;

    border: 0;
    border-radius: 2rem;

    background-color: rgb(226, 231, 238);

    margin-left: -4rem;
    margin-right: 6rem;
}

.top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 5rem;
    justify-content: space-around;

    margin-bottom: 2rem;
}

.top-bar button {
    width: 2rem;
    height: 2rem;

    border-radius: 100%;

    background-color: white;
}



.profile {
    display: flex;

    flex-direction: row;

    align-items: center;

    gap: 4rem;

    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.profile>img {
    width: 3rem;
    height: 3rem;

    border-radius: 100%;
}


.second-bar {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */

    align-items: center;
}

.second-bar img {
    width: 6rem;

    height: 6rem;

    border-radius: 100%;

    grid-row: 1/-1;

    margin-left: 2rem;
    margin-right: 2rem;
}

.greeting {
    display: grid;



    grid-template-rows: auto auto;
    grid-template-columns: auto auto;

    align-items: center;

    margin-right: 24rem;

}

.greeting span {
    font-weight: bold;
}

.greeting> :nth-child(3) {
    font-size: 2rem;
}

.second-bar button {
    color: white;
    background-color: rgb(69, 144, 206);
    font-weight: bold;
    font-size: 1.1rem;

    width: 6rem;
    height: 2.5rem;
    margin-right: 3rem;

    border-radius: 2rem;
}


.content {

    background-color: rgb(226, 231, 238);

    grid-area: main;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
        "a b"
        "a c";
    gap: 2rem;
    padding: 2rem;
}

.projects {
    grid-area: a;
}

.projects-content {
    margin: 3rem;

    display: grid;

    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.projects-content article {

    background-color: white;

    padding: 2rem;

    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    border-left: 1rem solid rgb(231, 182, 74);
}

.projects-content article p {
    color: grey;
}

.projects-content article button {
    width: 2rem;
    border: 0;
    background-color: white;

}

.project-button {
    display: flex;
    justify-content: flex-end;
}

.announcements-content {
    display: flex;
    flex-direction: column;

    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
}

.announcements-content article {
    border-bottom: 1px solid #ddd;

    padding: 16px 0;

}

.announcements-content article p {

    color: grey;

}

.announcements-content article:last-child {
    border-bottom: none;


}



.trending-projects {
    list-style: none;

    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

.trending-projects li {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;

    /* align-content: center;
    align-items: center; */

    /* gap: 1rem; */

    margin-bottom: 2rem;

}

.trending-projects li img {
    grid-row: 1 / span 2;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;

    justify-self: center;
    align-self: center;

    margin-right: 2rem;

    /* align-self: center; */
}

.trending-projects li p {
    margin: 0;
    padding: 0;
    border: 0;
}

.trending-projects li p:nth-of-type(2) {
    color: grey;
}